/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* CSS para rolagem suave */
html {
    scroll-behavior: smooth;
  }
  

/* Estilo da barra de rolagem horizontal */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #6c63ff;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  